<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="access" class="ch.qos.logback.core.FileAppender">
        <file>./log/access.log</file>
        <encoder>
            <pattern>%level %d{yyyy-MM-dd HH:mm:ss} [%thread] %logger:%line - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="debug" class="ch.qos.logback.core.FileAppender">
        <file>./log/debug.log</file>
        <encoder>
            <pattern>%level %d{yyyy-MM-dd HH:mm:ss} [%thread] %logger:%line - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="cn.wanru.AccessFilter" additivity="false" level="debug">
        <appender-ref ref="access" />
    </logger>

    <logger name="cn.wanru" additivity="false" level="debug">
        <appender-ref ref="debug" />
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>